div(ng-include='"app/navbar/navbar.html"')

breadcrumb

.profile
  .container.content
    .row  
      .col-md-3
        ul.list-group.sidebar-nav-v1
          li.list-group-item(ui-sref-active="active")
            a(ui-sref='settings.profile')
              i.fa.fa-cogs
              | &nbsp My Profile
          li.list-group-item.active(ui-sref-active="active")
            a(ui-sref='settings.password')
              i.fa.fa-user
              | &nbsp Change Password
          li.list-group-item(ui-sref-active="active")
            a(ui-sref='settings.notification')
              i.fa.fa-group
              | &nbsp Site Notification

      .col-sm-8.col-sm-offset-1.profile-body
          div.slide(ui-view='')
          
div(ng-include='"components/footer/footer.html"')                  