.footer
  .container
    .row
      .col-md-4.md-margin-bottom-40
        // About
        .headline
          h2 关于海竞
        p.margin-bottom-25.md-margin-bottom-40(align="left")
          | 上海海竞智能科技有限公司是一家专注于建筑智能化的软件企业，致力于为客户不断提供创新的智能软件产品和整体解决方案， 在中央空调智能控制系统、
          | 楼宇能源管理、智能楼宇管理系统等领域有多年的积累。
          
      // /col-md-4
      .col-md-4.md-margin-bottom-40
        // Recent Blogs
        .posts
          .headline
            h2 友情链接
            
          .col-md-6
            ul.list-unstyled
              li
                a(target="_blank" href='http://www.zhulong.com') 筑龙网 
                i.fa.fa-angle-right
              li
                a(target="_blank" href='http://www.vkhvacr.com') V客暖通网
                i.fa.fa-angle-right
              li
                a(target="_blank" href='http://nt.shejis.com') 暖通设计师
                i.fa.fa-angle-right
              li
                a(target="_blank" href='http://www.chinahvacr.com') 中国空调制冷网
                i.fa.fa-angle-right
          .col-md-6
            ul.list-unstyled
              li
                a(target="_blank" href='http://www.gongkong.com') 中国工控网
                i.fa.fa-angle-right
              li
                a(target="_blank" href='http://nt.co188.com') 土木在线
                i.fa.fa-angle-right
              li
                a(target="_blank" href='http://www.chinagb.net') 能源世界
                i.fa.fa-angle-right
              li
                a(target="_blank" href='http://www.gjjnhb.com') 国际节能环保网
                i.fa.fa-angle-right
                
        // End Recent Blogs
      // /col-md-4
      .col-md-4
        // Contact Us
        .headline
          h2 联系我们
        address.md-margin-bottom-40
          | 上海市闸北区恒通路360号一天下大厦17A07
          br
          | 电话: 021-62187028
          br
          | 传真: 021-62187028
          br
          | 邮箱: service@hiEngine.com
          
      // /col-md-4
// /footer
// === End Footer ===
// === Copyright ===
.copyright
  .container
    .row
      .col-md-4
        p
          | 2014 © hiEngine. ALL Rights Reserved.
      .col-md-4    
        p
          | 沪ICP备15053902号-1
      .col-md-4
        a(href='index.html')
          img#logo-footer.pull-right(src='assets/images/logo1.png', alt='')
// /copyright
// === End Copyright ===
