div(ng-include='"app/navbar/navbar.html"')

breadcrumb

.container.content.faq-page
  // FAQ Blocks
  .row.margin-bottom-30
    .col-sm-4
      .easy-block-v3.service-or
        .service-bg
        i.icon-badge
        .inner-faq-b
          h3 What is Unify Template?
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.
    .col-sm-4
      .easy-block-v3.service-or
        .service-bg
        i.icon-directions
        .inner-faq-b
          h3 How to Update Unify?
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.
    .col-sm-4
      .easy-block-v3.service-or
        .service-bg
        i.icon-layers
        .inner-faq-b
          h3 The Features of Unify?
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.


.container.content.job-partners
  .title-box-v2
    h2
      | Our 
      span.color-green Featured
      |  Partners
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  ul#effect-2.list-inline.our-clients
    li
      figure
        img(src='assets/img/clients2/ea-canada.png', alt='')
        .img-hover
          h4 Ea Canada
    li
      figure
        img(src='assets/img/clients2/inspiring.png', alt='')
        .img-hover
          h4 Inspiring
    li
      figure
        img(src='assets/img/clients2/ucweb.png', alt='')
        .img-hover
          h4 UcWeb
    li
      figure
        img(src='assets/img/clients2/clarks.png', alt='')
        .img-hover
          h4 Clarks
    li
      figure
        img(src='assets/img/clients2/corepreserves.png', alt='')
        .img-hover
          h4 Core Preserves
    li
      figure
        img(src='assets/img/clients2/finals.png', alt='')
        .img-hover
          h4 USL Champions
    li
      figure
        img(src='assets/img/clients2/getaround.png', alt='')
        .img-hover
          h4 GetAround
    li
      figure
        img(src='assets/img/clients2/baderbrau.png', alt='')
        .img-hover
          h4 Baderbrau
    li
      figure
        img(src='assets/img/clients2/emirates.png', alt='')
        .img-hover
          h4 Emirates
    li
      figure
        img(src='assets/img/clients2/fddw.png', alt='')
        .img-hover
          h4 Field Days
    li
      figure
        img(src='assets/img/clients2/district-karaoke.png', alt='')
        .img-hover
          h4 District Karaoke
    li
      figure
        img(src='assets/img/clients2/marianos.png', alt='')
        .img-hover
          h4 Mariano's
    li
      figure
        img(src='assets/img/clients2/grifting-tree.png', alt='')
        .img-hover
          h4 The Grifting Tree
    li
      figure
        img(src='assets/img/clients2/jaguar.png', alt='')
        .img-hover
          h4 Jaguar
    li
      figure
        img(src='assets/img/clients2/hermes.png', alt='')
        .img-hover
          h4 Hermes
    li
      figure
        img(src='assets/img/clients2/starbucks.png', alt='')
        .img-hover
          h4 Starbucks
    li
      figure
        img(src='assets/img/clients2/national-geographic.png', alt='')
        .img-hover
          h4 National Geographic
    li
      figure
        img(src='assets/img/clients2/much-more.png', alt='')
        .img-hover
          h4 Much More
    li
      figure
        img(src='assets/img/clients2/hotiron.png', alt='')
        .img-hover
          h4 Hotiron
    li
      figure
        img(src='assets/img/clients2/fred-perry.png', alt='')
        .img-hover
          h4 Fred Perry
    li
      figure
        img(src='assets/img/clients2/bellfield.png', alt='')
        .img-hover
          h4 Bellfield
    li
      figure
        img(src='assets/img/clients2/getapp.png', alt='')
        .img-hover
          h4 GetApp
    li
      figure
        img(src='assets/img/clients2/austrian-airlines.png', alt='')
        .img-hover
          h4 Austrian Airlines
    li
      figure
        img(src='assets/img/clients2/general-electric.png', alt='')
        .img-hover
          h4 General Electronic

              
div(ng-include='"components/footer/footer.html"')                      
.wrapper