div(ng-include='"app/navbar/navbar.html"')

breadcrumb

.container.content
  .row      
    .col-sm-12
      div.slide(ui-view='')
      
      
div(ng-include='"components/footer/footer.html"')              