div(ng-include='"app/navbar/navbar.html"')

.job-img
  .job-banner
    h2 能源管理体系的重要组成部分，是计量、监控、分析和计划能源使用的信息化系统。
.full-w-block
  .container
    .col-sm-offset-1
      ul.nav.nav-pills.nav-justified
        li
          h2
            a(href='#levels').areverse
              i.icon-layers
              | 分级管理
        li
          h2
            a(href='#realtime').areverse
              i.icon-energy
              | 实时监控
        li
          h2
            a(href='#history').areverse
              i.fa.fa-history
              | 历史追溯
        li
          h2
            a(href='#decision').areverse
              i.icon-like
              | 决策支持
        li
          h2
            a(href='#open').areverse
              i.fa.fa-openid
              | 开放易用
              
section#levels.section-first
  .container.content-lg
    .title-box.margin-bottom-20
      .title-box-text
        | 能源使用全周期
        span.color-green 分级管理
      p
        | 能源管理具有信息量大、管理复杂、周期长等特点，只有建立能源管理系统，才能建设全面的、长期的、规范化的能源管理体系； 
        | 海竞建筑能源管理系统从能源使用的全生命周期出发，为决策层、管理层和操作层分别提供了不同的功能和视图， 有效帮助企业了解能源使用明细，发现节能潜力，监测能源使用异常。
        
  .container.content-lg
    .col-md-4
      .tag-box.tag-box-v1
        .heading.heading-v5
          h2 决策层
        p
          | 海竞楼宇能源管理系统为决策人员提供了能源使用全貌、经济性数据和趋势分析等信息，为决策层提供统筹管理奠定数据基础。
        .margin-bottom-20      
        .row          
          .col-md-6
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  能耗总览
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  能耗公示
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  经济性分析
          .col-md-6        
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  趋势预测
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  碳排放管理
        
    .col-md-4              
      .tag-box.tag-box-v1
        .heading.heading-v5
          h2 管理层
        p
          | 海竞建筑能源管理系统为管理人员提供历史能耗分析、能耗报警和节能对比等工具，辅助管理层在保证用能安全基础上，有效利用能源，发现节能潜力。
          
        .margin-bottom-20      
        .row          
          .col-md-6
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  能源架构
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  能耗分析
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  能耗预警
          .col-md-6        
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  能效分析
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  节能管理

    .col-md-4     
      .tag-box.tag-box-v1
        .heading.heading-v5
          h2 操作层
        p
          | 海竞建筑能源管理系统为操作员提供实时用能组态图、能耗报警、设备用能管理等工具，防止异常用能，保证用能安全。

        .margin-bottom-20      
        .row          
          .col-md-6
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  用能组态
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  用能趋势
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  实时报警
          .col-md-6        
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  电能质量
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  设备监视
            button.btn-u.btn-brd.btn-u.btn-block.rounded(type='button')
              i.fa.fa-check.color-green
              |  环境监视
            
section#realtime.servive-block-light
  .container.content-lg.margin-bottom-20
    .title-box.margin-bottom-20
      .title-box-text
        span.color-blue 7*24 小时 
        | 实时监控
      p
        | 系统以图形化方式实时显示全系统能源信息，并发布和推送报警信息，帮助客户全方位掌控用能信息。
           
    .col-md-6
      img.img-responsive.img-thumbnail(src='assets/images/ems/ems4.png', alt='')

    .col-md-6.content-boxes-v3
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.glyphicon.glyphicon-retweet
        |                         
        .content-boxes-in-v3
          h2.heading-sm 能源架构
          |                             
          p
            | 系统提供用能架构图，实时显示能耗组成、状态等信息，使用户对能源消耗状态一目了然。
      |                     
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.icon-directions
        |                         
        .content-boxes-in-v3
          h2.heading-sm 矢量组态
          |                             
          p
            | 系统以组态方式实时显示系统、子系统、重点设备等状态信息和用能信息。
      |                     
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.glyphicon.glyphicon-cloud
        |                         
        .content-boxes-in-v3
          h2.heading-sm 云+移动监视
          |                             
          p
            | 系统整合云端和移动端应用，方便用户随时随地掌控用能信息。

section#history
  .container.content-lg.margin-bottom-20
    .title-box.margin-bottom-20
      .title-box-text
        | 完整记录
        span.color-green 十年数据
      p
        | 持续采集、记录全系统能耗，跟踪能耗变化, 提供多样性的追溯手段，预测用能趋势。
        
    .col-md-6.content-boxes-v3
      .clearfix.margin-bottom-20
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.fa.fa-database
        |                         
        .content-boxes-in-v3
          h2.heading-sm 内置实时数据库
          |                             
          p
            | 内置海竞自有知识产权的实时数据库，存储系统十年完整数据。
      |                     
      .clearfix.margin-bottom-20
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.icon-shuffle
        |                         
        .content-boxes-in-v3
          h2.heading-sm 对比，环比分析
          |                             
          p
            | 基于历史数据，对比、环比分析，追溯用能变化，发现节能机会。
      |                     
      .clearfix.margin-bottom-20
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.glyphicon.glyphicon-export
        |                         
        .content-boxes-in-v3
          h2.heading-sm 数据上传
          |                             
          p
            | 系统遵循标准，可以按照指定编码，上传能源数据至更高级别平台。
    .col-md-6
      img.img-responsive.img-thumbnail(src='assets/images/ems/ems1.png', alt='')
        
section#decision.servive-block-light
  .container.content-lg.margin-bottom-20
    .title-box.margin-bottom-20
      .title-box-text
        | 强大的
        span.color-blue 分析引擎
        | ，为管理者提供全方位的决策支持
      p
        | 除了对能耗信息的统计、分析，系统还对能源经济性进行分析，为管理层决策制定提供数据基础。

    .col-md-6
      img.img-responsive.img-thumbnail(src='assets/images/ems/ems2.png', alt='')

    .col-md-6.content-boxes-v3
      .clearfix.margin-bottom-20
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.glyphicon.glyphicon-fire
        |                         
        .content-boxes-in-v3
          h2.heading-sm 能源消费统计与预测
          |                             
          p
            | 分时、分类、分项、分区统计能源消费数据，预测消费趋势，对比节能效果。
      |                     
      .clearfix.margin-bottom-20
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.glyphicon.glyphicon-usd
        |                         
        .content-boxes-in-v3
          h2.heading-sm 能源经济性分析
          | 
          p
            | 根据能源消耗和能源价格，核算能源成本，分析能源成本变化数据，预测能源成本趋势。
      |                     
      .clearfix.margin-bottom-20
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.glyphicon.glyphicon-sort-by-order-alt
        |                         
        .content-boxes-in-v3
          h2.heading-sm 能效分析
          |                             
          p
            | 对能耗、负荷、峰谷、KPI指标、COP等进行统计、分析，给出更加深入的能效信息。
  
section#open
  .container.content-lg
    .title-box.margin-bottom-20
      .title-box-text
        | 功能完善，
        span.color-green 开放易用
      p
        | 采用分布式架构，图形化、层次化和模块化的设计，支持多用户分级管理，Web客户端和移动端访问，安全可靠，易用性好。
           
    .col-md-6.content-boxes-v3
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.icon-eye
        |                         
        .content-boxes-in-v3
          h2.heading-sm 可视化
          |                             
          p
            | 以直观的图形化方式实时展示用能情况和趋势，使得能源架构和用能数据一目了然，轻松把握能源流向和流量。
      |                     
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.icon-size-actual
        |                         
        .content-boxes-in-v3
          h2.heading-sm 多协议支持
          |                             
          p
            | 系统支持包括Modbus、BACnet、OPC、oBIX等诸多协议，并支持协议定制开发。 
      |                     
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.icon-doc 
        |                         
        .content-boxes-in-v3
          h2.heading-sm 丰富的报表
          |                             
          p
            | 系统内置丰富的报表，为用户提供不同级别、不同角度的能源使用视图，并支持报表定制。
    .col-md-6
      img.img-responsive.img-thumbnail(src='assets/images/ems/ems0.png', alt='')

div(ng-include='"components/footer/footer.html"')                        
