div(ng-include='"app/navbar/navbar.html"')

breadcrumb


.container.content
  .row
    .col-md-8
      h2 海竞中央空调智能控制系统
      p 
        | 中央空调系统消耗建筑物日常能耗的40%~60%，是名副其实的能耗大户，能耗水平取决于季节、天气和时间等因素；系统运行效率受冷热负荷的变化趋势、不同工况下的末端换热效率、设备性能差异、
        | 子系统间的配合、波动的能源价格、建筑物的冷热特性等因素影响。
        | 采用人工控制或常规群控手段，极易受到人为疏忽和技术局限的影响，无法保证服务质量，并且造成能源浪费。
      p 
        | 海竞中央空调智能控制系统采用基于负荷预测、仿真模型、动态优化和自适应容错控制技术，将以上影响系统效率的诸多因素作为系统优化问题输入，
        | 无需人工编写控制逻辑，不仅实现全系统自动控制，而且提高了系统运行效率，相对于常规群控节能15%以上。
        
      hr
      h4 1.与常规群控系统相比，智能控制系统的投用有哪些特殊需求？
      p
        | 答：无特殊需求。智能控制系统无需安装特殊硬件及设备，自控点位需求与常规群控系统一致。
      hr
      h4 2.采用智能控制系统后，实施工程师还需要编写群控逻辑吗？
      p
        | 答：不需要。实施工程师只需输入冷机、水泵等设备的设计参数、安全限制和连接关系，并配置好现场点位，系统会依照这些信息动态生成优化控制逻辑，实现系统全自动运行，极大地简化实施过程，缩短调试周期。
      hr
      h4 3.采用智能控制系统，对操作人员有无特殊要求？
      p
        | 答：无。智能控系统比常规群控系统更加直观易用，无需专门培训。
      hr
      h4 4.智能控制系统支持哪些冷热源类型？
      p
        | 答：智能控制系统支持常规风冷系统、水冷系统、冰/水蓄冷系统，锅炉/采暖板换系统。
      hr
      h4 5.智能控制系统是否支持变频设备？
      p
        | 答：智能控制系统支持变频水泵、变频风机, 但是这些设备不是必须安装。
      hr
      h4 6.智能控制系统是否仅限于新建系统？
      p
        | 答：智能控制系统不仅支持新建系统，更适合旧系统改造，能充分兼容原自控系统软/硬件设备，无需重复投资。
      hr
      h4 7.智能控制系统支持哪些楼控系统和硬件？
      p
        | 答：智能控制系统支持绝大部分主流楼控系统和硬件，如江森、霍尼维尔、施耐德、西门子、特灵等公司产品，只要系统支持主流通讯协议，均可与智控系统无缝集成。

    .col-md-3.pull-right
      .headline
        h2 联系我们
      ul.list-unstyled.who.margin-bottom-30
        li
          a(href='#')
            i.fa.fa-globe
            | 上海市闸北区恒通路360号17A07
        li
          a(href='#')
            i.fa.fa-envelope
            | service@hiEngine.cn
        li
          a(href='#')
            i.fa.fa-phone
            | 021-62187028
        li
          a(href='http://www.hiEngine.cn')
            i.fa.fa-home
            | http://www.hiEngine.cn
      // Business Hours
      .headline
        h2 关于海竞
      p
        |   上海海竞智能科技有限公司是专注于智能建筑领域软件开发和解决方案的提供商，提供如下产品和解决方案：
      ul.list-unstyled
        li
          i.fa.fa-check.color-green
          |  中央空调监控、计费整体解决方案
        li
          i.fa.fa-check.color-green
          |  中央空调智能控制解决方案
        li
          i.fa.fa-check.color-green
          |  建筑能源管理系统
        li
          i.fa.fa-check.color-green
          |  楼宇实时数据库
        li
          i.fa.fa-check.color-green
          |  楼宇数据通信网关
    .clearfix



div(ng-include='"components/footer/footer.html"')                      
