div(ng-include='"app/navbar/navbar.html"')

.job-img
  .job-banner
    h2 赋予中央空调系统以智能，犹如一个经验丰富的空调工程师7*24小时呵护您的系统
.full-w-block
  .container
    ul.nav.nav-pills.nav-justified
      li
        h2
          a(href='#opt').areverse
            i.icon-energy
            | 优化节能
      li
        h2
          a(href='#control').areverse
            i.icon-shield
            | 智能容错
      li
        h2
          a(href='#usage').areverse
            i.icon-like
            | 周到易用
      li
        h2
          a(href='#rtdb').areverse
            i.icon-speedometer
            | 能耗审计
      li
        h2
          a(href='#applicable').areverse
            i.icon-map
            | 广泛适用
      li
        h2
          a(href='#compare').areverse
            i.fa.fa-sort-alpha-desc
            | 新旧对比
              
section#opt.section-first
  .container.content-lg
    .title-box.margin-bottom-20
      .title-box-text
        | 比常规群控系统节能 
        span.color-green 15%
      p
        | 以负荷预测+动态优化的控制方法替代传统的温差、压差或温差流量法，实现全系统、全时段优化控制。
           
  .container.content-lg
    .row
      .col-md-6.content-boxes-v3
        .clearfix.margin-bottom-30
          i.icon-custom.icon-md.rounded-x.icon-bg-u.icon-line.fa.fa-cubes
          |                         
          .content-boxes-in-v3
            h2.heading-sm 仿真模型
            |                             
            p
              | 针对空调系统设备和建筑物的仿真模型能全面刻画被仿真对象的动态特性，实时跟踪设备各项性能指标。
        |                     
        .clearfix.margin-bottom-30
          i.icon-custom.icon-md.rounded-x.icon-bg-u.icon-line.icon-bar-chart
          |                         
          .content-boxes-in-v3
            h2.heading-sm 负荷预测 
            |                             
            p
              | 基于历史负荷数据，天气预报和建筑物热响应特性的负荷预测方法能提前获知需求侧未来的负荷情况，为供应侧的设备运行计划提供指导。
        |                     
        .clearfix.margin-bottom-30
          i.icon-custom.icon-md.rounded-x.icon-bg-u.icon-line.icon-loop
          |                         
          .content-boxes-in-v3
            h2.heading-sm 动态优化
            |                             
            p
              | 采用自主研发的动态规划引擎，根据负荷预测结果，能源价格波动及设备性能差异，全系统，全时段最小化系统能耗费用。
      |                 
      .col-md-6
        img.img-responsive.margin-bottom-20(src='assets/images/iec/iec1.png', alt='')

section#control.servive-block-light
  .container.content-lg
    .title-box.margin-bottom-20
      .title-box-text
        | 智能化投用率达到
        span.color-blue 90%
      p 
        |  系统自适应现场工况，动态生成控制逻辑，实现高容错智能控制，全自动无人值守。
           
    .col-md-6
      img.img-responsive.margin-bottom-10(src='assets/images/iec/iec2.png', alt='')

    .col-md-6.content-boxes-v3
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.fa.fa-cogs
        |                         
        .content-boxes-in-v3
          h2.heading-sm 自适应控制，无需人工编程
          |                             
          p
            | 基于系统关系模型的自适应逻辑生成方法无需针对每个现场编写群控逻辑，控制逻辑始终基于现场设备的最新状态产生。
      |                     
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.fa.fa-random
        |                         
        .content-boxes-in-v3
          h2.heading-sm 高容错 
          |                             
          p
            | 真正解决了传统群控逻辑无法解决的“组合爆炸”问题，无论现场设备是全部自动，部分自动还是设备存在报警情况，总能基于现场设备最新状态找到可行的控制方案。
      |                     
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.fa.fa-wrench
        |                         
        .content-boxes-in-v3
          h2.heading-sm 工程周期短、易维护
          |                             
          p
            | 无需人工根据每个现场编写，调试群控逻辑，极大地缩短了工程周期。简洁标准的配置流程也为项目的后期维护提供了可靠保证。

section#usage
  .container.content-lg
    .title-box.margin-bottom-20
      .title-box-text
        | 周到易用，
        span.color-green 7*24
        | 小时呵护系统
      p
        | 简单直观的操作方式，一体化的管控流程, 随时随地，全面掌控系统运行。
           
    .col-md-6.content-boxes-v3
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.fa.fa-sliders
        |                         
        .content-boxes-in-v3
          h2.heading-sm 人性化操作
          |                             
          p
            | 针对最终用户使用习惯，专门设计的操作界面简单、直观、容易操作。
      |                     
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.icon-share
        |                         
        .content-boxes-in-v3
          h2.heading-sm 全系统整合
          |                             
          p
            | 基于全系统模型的控制框架将末端系统的控制无缝整合，冷热源和末端系统的运行不再由运营人员分离操作，风与水系统的运行协调统一。
      |                     
      .clearfix.margin-bottom-10
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.fa.fa-cloud
        |                         
        .content-boxes-in-v3
          h2.heading-sm 云+移动监控
          |                             
          p
            | 基于云+移动端的监控平台提供媲美本地的监控功能，无论何时何地都能方便地查看现场设备及末端舒适度情况，第一时间获取现场报警通知。
  
    .col-md-6
      img.img-responsive.margin-bottom-20(src='assets/images/iec/iec3.png', alt='')

section#rtdb.servive-block-light
  .container.content-lg
    .title-box.margin-bottom-20
      .title-box-text
        | 全系统
        span.color-blue 十年
        | 过程数据
      p
        | 自主研发的楼宇历史实时数据库全面记录空调系统的过程数据，提供长达十年，秒级的存储能力。
           
    .col-md-6
      img.img-responsive.margin-bottom-20(src='assets/images/iec/iec4.png', alt='')

    .col-md-6.content-boxes-v3
      .clearfix.margin-bottom-30
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.icon-calculator
        |                         
        .content-boxes-in-v3
          h2.heading-sm 数据分析
          |                             
          p
            | 系统内置灵活的查询、分析工具，用户可以随时以表格和图形方式回溯历史数据。
      |                     
      .clearfix.margin-bottom-30
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.glyphicon.glyphicon-file
        |                         
        .content-boxes-in-v3
          h2.heading-sm 能耗审计
          |                             
          p
            | 特别集成的空调系统能耗审计功能，可以提供逐时、逐日、逐月、设备级、系统级的能耗统计数据和丰富，详尽的报表展示。
      |                     
      .clearfix.margin-bottom-30
        i.icon-custom.icon-md.rounded-x.icon-bg-blue.icon-line.icon-diamond
        |                         
        .content-boxes-in-v3
          h2.heading-sm 维护建议
          |                             
          p
            | 基于过程数据和设备仿真模型，设备的各项性能指标可以被完整的记录与跟踪，运营人员不易察觉的设备性能差异和退化也可以被直观的显示出来。

section#applicable
  .container.content-lg
    .title-box.margin-bottom-20
      .title-box-text
        | 广泛适用，
        span.color-green 冷暖
        | 皆知
      p
        | 产品广泛适用于各种场景，兼容90%以上的冷机品牌，支持多种主流楼宇通信协议。
           
    .col-md-6.content-boxes-v3
      .clearfix.margin-bottom-30
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.icon-map
        .content-boxes-in-v3
          h2.heading-sm 场景广泛
          p
            | 工厂、写字楼、酒店、医院、商业综合体等
      .clearfix.margin-bottom-30
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.icon-directions
        .content-boxes-in-v3
          h2.heading-sm 冷暖皆知 
          p
            | 水冷、风冷、免费制冷、蓄冷、锅炉、采暖板换等
      .clearfix
        i.icon-custom.icon-md.rounded-x.icon-bg-green.icon-line.icon-diamond
        |                         
        .content-boxes-in-v3
          h2.heading-sm 富有弹性
          |                             
          p
            | 新建项目,改造项目；大中型项目,小项目

    .col-md-6
      img.img-responsive(src='assets/images/iec/iec5.png', alt='')
      
section#compare.servive-block-light
  .container.content-lg
    .title-box.margin-bottom-20
      .title-box-text
        span.color-blue 革新性产品
        | &nbsp--&nbsp新旧对比
      p
        | 以智能优化控制替代传统的DDC人工编程方式实现群控，在诸多方面具有显著优势。
      
    .col-md-12
      .panel.panel-blue.margin-bottom-40
        .panel-heading
          h3.panel-title
            i.fa.fa-sort-alpha-desc
            |  新一代智能控制系统与传统群控对比
        table.table.table-bordered
          thead
            tr
              th 产品功能
              th 传统系统
              th 智能控制系统
          tbody
            tr
              td 控制方法
              td 温差法、压差法、温差流量法
              td 智能容错控制
            tr
              td 容错
              td 无
              td 自适应容错控制，大大提高系统可用性
            tr
              td 负荷预测
              td 无
              td 24小时负荷预测，真实反应建筑冷暖需求及变化趋势
            tr
              td 动态优化
              td 无
              td 综合考虑冷热负荷变化，能源价格波动，设备性能差异，最小化全系统、全时段能耗费用
            tr
              td 能源效率
              td 只能完成常规控制，不考虑节能
              td 比常规控制节能15%
            tr
              td 设备性能跟踪
              td 无
              td 全面跟踪设备性能变化，提供维护建议
            tr
              td 运行计划
              td 时间表
              td 功能强大的日历表，灵活定制运行计划
            tr
              td 能耗报表
              td 需另行采购能源管理平台
              td 内置能耗审计，提供多种能耗、运行报表
            tr
              td 过程数据
              td 无或者仅保存部分、短期数据
              td 内置实时历史数据库，保存全系统十年完整过程数据，并集成回溯、分析工具
            tr
              td 云+移动监控
              td 无
              td 系统整合了云+移动监控平台，随时随地掌控系统运行状况
            tr
              td 可维护性
              td 差，系统工况变化，需修改控制逻辑，甚至更换硬件
              td 好，标准化、简单配置，便于后期维护
            tr
              td 性价比
              td 实施周期长，维护成本高
              td 实施周期短，维护成本低，性价比高
              
div(ng-include='"components/footer/footer.html"')                      
