div(ng-include='"app/navbar/navbar.html"')

breadcrumb

.container.content
          hr
          .row
            .col-md-3
              h3.heading-sm
                a(href='#') Consectetur adipiscing
              p
                | Pellentesque viverra vehicula sem ut volutpat dosum molor sit amet, consectetur adipiscing elit
            .col-md-3
              h3.heading-sm
                a(href='#') Ut volutpat dosum
              p
                | Lunt in lpa qui officia deserunt mollitia mo animi, asmid leoff iscia est labor le harum quidem rerum facilis
            .col-md-3
              h3.heading-sm
                a(href='#') Viverra de esque
              p
                | Volutpat dosum esque viverra ved et quam lacusehicula sem ut  molorviverra sit amet, consetetur edipiscin la
            .col-md-3
              h3.heading-sm
                a(href='#') Sem ut volutpat dum
              p
                | Deleniti atque corrupa vehicula sem ut volutpat dosum molor sit amet, consectetur adipiscing praesentium
    // /one-page

  .row
    .col-md-9
      // Bordered Funny Boxes
      .funny-boxes.funny-boxes-top-sea
        .row
          .col-md-4.funny-boxes-img
            img.img-responsive(alt='', src='assets/img/new/img10.jpg')
            ul.list-inline
              li
                i.fa.fa-openid
                |  智能优化
              li
                i.fa.fa-code-fork
                |  容错控制
              li
                i.fa.fa-sort-amount-desc
                |  易用节能
          .col-md-8
            h2
              a(href='#') 海竞中央空调智能控制系统
              ul.list-unstyled.funny-boxes-rating
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star
                li
                  i.fa.fa-star              
            p
              | 上海海竞智能科技有限公司的高科技产品中央空调智能控制系统，是采用先进过程控制技术和现代信息技术来解决传统中央空调系统自动化水平低、管理粗放、能耗浪费严重等现状的革新性产品，
              | 是人工智能技术在中央空调控制领域的应用。
              | 系统按照现场实际情况建立空调系统动态仿真模型，并依据大楼温度分布、天气、季节、时段等因素预测实际负荷，采用人工智能算法自动生成优化控制策略，从而实现全系统全自动、智能容错控制。
              | 系统具有传统自控系统所无法比拟的全自动无人值守、高容错、高效节能、简单易用和云/移动监测等诸多功能。
            a.btn-u.btn-u-red(href='#').pull-right 了解更多
      // End Bordered Funny Boxes
      // Colored Funny Boxes
      .funny-boxes.funny-boxes-colored.funny-boxes-blue
        .row
          .col-md-4.funny-boxes-img
            img.img-responsive(src='assets/images/ems/ems1.png', alt='')
            ul.list-inline
              li
                i.fa.fa-compass
                |  全方位
              li
                i.fa.fa-eye
                |  可视化
              li
                i.fa.fa-file-archive-o
                |  信息化
          .col-md-8
            h2
              a(href='#') 海竞建筑能效管理系统
            ul.list-unstyled.funny-boxes-rating
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
            p
              | 上海海竞智能科技有限公司的建筑能效管理系统，依照国家标准，应用智能化系统集成技术，采集建筑内各用能系统、设备等分类和分项数据，并对采集到的数据进行处理、审核、存储、统计，
              | 进而从不同维度对能源供给、分配与使用情况进行分析、展示、报表，使得用能单位能够实时监测用能情况，量化、可视化能效管理，预测用能趋势，全方位掌控能源使用的生命周期。
              | 系统为决策层、管理层、操作层分别提供了不同的用能信息，为用能单位建立有效的能源管理体系、优化能源使用和节能减排奠定信息化基础。 
            a.btn-u.btn-u-red(href='#').pull-right 了解更多
      // End Colored Funny Boxes
      // Bordered Funny Boxes
      .funny-boxes.funny-boxes-left-orange
        .row
          .col-md-4.funny-boxes-img
            img.img-responsive(alt='', src='assets/img/new/img11.jpg')
            ul.list-inline
              li
                i.fa.fa-briefcase
                |  高性能
              li
                i.fa.fa-map-marker
                |  高可用
              li
                i.fa.fa-map-marker
                |  易部署
          .col-md-8
            h2
              a(href='#') 楼宇实时数据库
            ul.list-unstyled.funny-boxes-rating
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
            p
              | 上海海竞智能科技有限公司的楼宇实时数据库，是海竞自主研发的一套楼宇专用实时数据库系统，数据库可对海量实时/历史数据进行收集、压缩、存储、检索，并保证数据质量和存取速度。
              | 系统支持万点、十年、秒级数据存储，同时内置了监视、管理、查询、趋势分析等工具。系统具有良好的开放性，可以通过OPC、WCF、Web API等接口访问数据，
              | 可同时支持10个客户端并发访问。系统具有很高可用性，支持冗余、备份和数据灾难恢复等安全机制。系统支持多种数据采集接口，包括modbus、OPC、BACnet等主流楼宇协议。
            a.btn-u.btn-u-red(href='#').pull-right 了解更多
      // End Bordered Funny Boxes
      // Colored Funny Boxes
      .funny-boxes.funny-boxes-colored.funny-boxes-grey
        .row
          .col-md-4.funny-boxes-img
            img.img-responsive(alt='', src='assets/img/new/img7.jpg')
            ul.list-inline
              li
                i.fa.fa-briefcase
                |  多协议
              li
                i.fa.fa-map-marker
                |  高并发
              li
                i.fa.fa-map-marker
                |  易使用
          .col-md-8
            h2
              a(href='#') 楼宇数据通信网关
            ul.list-unstyled.funny-boxes-rating
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
              li
                i.fa.fa-star
            p
              | 上海海竞智能科技有限公司的楼宇数据通信网关，是针对楼宇自动化、楼宇管理、楼宇安防等系统的通信网关，
              | 网关可支持多种主流楼宇通信协议，包括modbus、OPC、BACnet等，并内置智能数据校验、数据关联验证等高级数据处理功能。
              | 此外，网关配有流量监视、数据转换、单位转换、可视化分析等管理工具，并具有丰富的二次开发接口，可以通过OPC、WCF、Web API等接口访问数据。
              | 网关同时支持多个客户端并发访问，具有很高可用性，支持冗余、报警、移动数据推送等安全机制，并可以与海竞楼宇实时数据库系统集成。              
            a.btn-u.btn-u-red(href='#').pull-right 了解更多
    .col-md-3.pull-right
      // Contacts
      .headline
        h2 Contacts
      ul.list-unstyled.who.margin-bottom-30
        li
          a(href='#')
            i.fa.fa-home
            | 5B Streat, City 50987 New Town US
        li
          a(href='#')
            i.fa.fa-envelope
            | info@example.com
        li
          a(href='#')
            i.fa.fa-phone
            | 1(222) 5x86 x97x
        li
          a(href='#')
            i.fa.fa-globe
            | http://www.example.com
      // Business Hours
      .headline
        h2 Business Hours
      ul.list-unstyled.margin-bottom-30
        li
          strong Monday-Friday:
          |  10am to 8pm
        li
          strong Saturday:
          |  11am to 3pm
        li
          strong Sunday:
          |  Closed
      // Why we are?
      .headline
        h2 Why we are?
      p
        | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.
      ul.list-unstyled
        li
          i.fa.fa-check.color-green
          |  Odio dignissimos ducimus
        li
          i.fa.fa-check.color-green
          |  Blanditiis praesentium volup
        li
          i.fa.fa-check.color-green
          |  Eos et accusamus

div(ng-include='"components/footer/footer.html"')                      
